/* Custom Styles Start */
body {
    font-family: 'Inter', sans-serif;
}

/* Custom Styles End */

/* Animations Start */
.skeleton {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

/* Animations End */